* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.offcanvas-icon-1 {
    font-size: 20px;
    border: 1px solid black;
    padding: 13px 15px;
    border-radius: 50%;
    color: #f4834a;
    background-color: white;
    box-shadow: 0 0 1px #f4834a;
    border: none;
    margin-bottom: 15px;
}
.offcanvas-box-1 {
    border-radius: 8px;
    font-family: sans-serif;
    box-shadow: 0 0 5px rgb(236, 174, 195);
}
.navbar-icon-phone {
    font-size: 42px;
    padding-top: 4px;
    padding-right: 8px;
    color: #f4834a;
}
.navbar-icon-button {
    font-size: 42px;
    padding-top: 4px;
    padding-left: 8px;
    color: #f4834a;
}

/*----------Contact-Sec-1-Start----*/

.tours-sec-1 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ddd;
    height: 300px;
}

.tours-div-1-span {
    font-size: 10px;
    padding-left: 8px;
    padding-right: 7px;
    vertical-align: middle;
    opacity: .900;
}

.tours-div-1-p {
    color: #201d1e;
}
/*----------Contact-Sec-1-Close----*/
/*----------Contact-Sec-2-Start----*/

.Tours-Sec-1-icon {
    font-size: 20px;
    border-radius: 50%;
    padding: 8px 11px;
    border: 1px solid #3f3a7f;
    color: #3F3A7f;
    transition: .3s;
    flex-wrap: wrap;
}

.Tours-Sec-1-icon:hover {
    background-color: #f4834a;
    color: #fff;
    border: none;
}

.contact-sec-2-bor {
    padding: 30px 0;
    height: 210px;
}
/*----------Contact-Sec-2-Close----*/
/*----------Contact-Sec-3-Start----*/

.contact-sec-3-main-div {
    background-color: #ddd;
    padding-top: 70px;
}

.contact-sec-textarea {
    height: 150px;
}

.contact-sec-3-btn {
    background-color: #f4834a;
    color: white;
    font-weight: bold;
    padding: 12px 0;
    margin-top: 15px;
    border: none;
    margin-bottom: 30px;
}

.contact-sec-3-iframe {
    margin-top: 90px;
}
/*--------Contact-sec-3-Close-----*/
/*----------Footer-Start----------*/

.footer-menu li {
    list-style: none;
    line-height: 2;
    color: #626061;
}

.footer-h4 {
    padding-left: 30px;
    font-weight: bold;
}

.footer {
    background-color: #ddd;
    padding-bottom: 50px;
}
.footer-p {
    color: #626061;
}

.footer-end-div {
    justify-content: space-between;
    margin-top: 40px;
}

.footer-icon {
    font-size: 20px;
    border-radius: 50%;
    padding: 8px 11px;
    border: 1px solid #3f3a7f;
    color: #3F3A7f;
    transition: .3s;
    flex-wrap: wrap;
}

.footer-icon:hover {
    background-color: #f4834a;
    color: #fff;
    border: none;
}

.footer-p-span {
    color: #f4834a;
}

.footer-p-icon {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    opacity: .850;
}
@media (max-width:768px) {
    .footer-end-div {
        flex-direction: column;
        text-align: center;
    }
    .footer-end-p {
        padding-top: 15px;
    }
}

/*----------Footer-Close----------*/